# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/
.pnpm-store/

# Expo & Metro
.expo/
dist/
web-build/
expo-env.d.ts
.metro-health-check*

# EAS & Mobile Compilation / Build Configs
eas.json
credentials.json
google-services.json
GoogleService-Info.plist

# Compiled Mobile Binaries & Archives
*.apk
*.aab
*.ipa
*.zip
*.tar.gz

# Generated Native Folders (Prebuild)
/ios
/android

# Native Android / iOS Build & Signing Keys
.kotlin/
*.orig.*
*.jks
*.keystore
*.p8
*.p12
*.key
*.pem
*.mobileprovision

# Environment Variables & Secrets
.env
.env*
.env*.local

# Logs & Debug Output
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
expo-start.log
expo-start.err.log

# TypeScript
*.tsbuildinfo

# Operating System & IDEs
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
