{
  "cli": {
    "version": ">= 10.0.0"
  },
  "build": {
    "development": {
      "developmentClient": true,
      "distribution": "internal"
    },
    "preview": {
      "distribution": "internal",
      "android": {
        "buildType": "apk"
      },
      "env": {
        "EXPO_PUBLIC_SUPABASE_URL": "YOUR_SUPABASE_URL",
        "EXPO_PUBLIC_SUPABASE_ANON_KEY": "YOUR_SUPABASE_ANON_KEY",
        "EXPO_PUBLIC_MANGADEX_CLIENT_ID": "YOUR_MANGADEX_CLIENT_ID"
      }
    },
    "production": {
      "android": {
        "buildType": "app-bundle"
      },
      "env": {
        "EXPO_PUBLIC_SUPABASE_URL": "YOUR_SUPABASE_URL",
        "EXPO_PUBLIC_SUPABASE_ANON_KEY": "YOUR_SUPABASE_ANON_KEY",
        "EXPO_PUBLIC_MANGADEX_CLIENT_ID": "YOUR_MANGADEX_CLIENT_ID"
      }
    }
  },
  "submit": {
    "production": {}
  }
}
